html,
body {
	background: #fff;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#container {
	background: url(images/car.jpg);
	background-size: cover;
	height: 100%;
	position:relative;
	opacity:0.8;
	width: 100%;
}

.maindiv
{
	height: 100%;
	position: relative;
	width: 100%;
}

/*
.button {
	background: white;
	border-radius: 2em;
	color: #000;
	font-size: 24px;
	padding: 1em 3em 1em 3em;
	-moz-transition: background-color 0.35s ease-in-out, color 0.15s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out, color 0.15s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out, color 0.15s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out, color 0.15s ease-in-out;
	transition: background-color 0.35s ease-in-out, color 0.15s ease-in-out;
}


.button:hover {
	background: rgba(255, 255, 255, 0.2) !important;
	color: black;
}
*/

#main {
	background: rgba(0, 0, 15, .4);
	margin: 0 auto;
	margin-top: 10%;
	overflow:hidden;
	padding: 5em;
	text-align: center;
	width: 600px;
}

#main p {
	color: white;
	font-size: 20px;
	letter-spacing: 0.2em;
	line-height: 2em;
	margin: 0 auto;
	opacity: 0.9;
}

#main h1 {
	color: white;
	text-align: center;
	top: 2%;
}

#form {
	margin: 1em 5%;
	background: #fff;
	background-image: url("images/bluebg.jpg");
	background-size:100% 100%;
	background-position: top left,top right;
	background-repeat: no-repeat;
	overflow: auto;
	position: relative;
	width: 90%;
	min-width:900px;
	min-height:700px;
}

#form form {

	background-position: bottom left, bottom right;
	background-repeat: no-repeat, no-repeat;
	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 2em;
	margin: 0 10%;
	margin-top: 40px;
	width: 80%;
}

#form label {
	padding: 0 2em 0 2em;
}

#form .button {
}

#feedbackdiv {

	font-size: 20px;
	letter-spacing: 0.1em;
	line-height: 2em;
	margin: 0 10% 0;
	width: 90%;
	min-width:900px;


}


#copyright {
	color: #7c8081;
	padding: 5em 0 5em 0;
	text-align: center;
}

/*
#dealerlogin {
	background: rgba(0, 0, 127, 0.5);
	border-color: rgba(145, 80, 255, 0.7);
	border-radius: 3px;
	cursor: pointer;
	float: right;
	padding: 10px;
}

#dealerlogin:hover {
	background: rgba(145, 90, 255, 0.5);
}

#dealerlogin a {
	color: white;
	font-size: 18px;
	text-decoration: none;
}
*/
