html,
body {
	background: #F2F3FF;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#container {
	background: url(images/car.jpg);
	background-size: cover;
	height: 100%;
	position:relative;
	opacity:0.8;
	width: 100%;
}

.maindiv
{
	height: 100%;
	position: relative;
	width: 100%;
}

#main {
	background: rgba(0, 0, 15, .4);
	margin: 0 auto;
	overflow:hidden;
	padding: 5rem;
	text-align: center;
	width: 60%;
}

#main h1 {
	font-size: 5rem;
}
#main p {
	color: white;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	line-height: 2rem;
	margin: 0 auto;
	opacity: 0.9;
}

#main h1 {
	color: white;
	text-align: center;
	top: 2%;
}

#form-section {
	height: 100%;
	min-height: 100%;
	position: relative;
}

#form {
	background: white;
	box-shadow: 0 0 7px 7px #ccc;
	left: 10%;
	min-height: 90%;
	position: absolute;
	top: 10%;
	width: 80%;
}


#form form {
	font-size: 16px;
	letter-spacing: 0.1rem;
	line-height: 1rem;
	margin: 0 auto;
	margin-top: 5%;
	width: 80%;
}

#form form table {
	width: 100%;
}
#form .button {
	width: 30%;
}

#cars {
	background: white;
	box-shadow: 0 0 7px 7px #ccc;
	display: none;
	height: 90%;
	margin: 0 auto;
	margin-top: 35px;
	overflow: auto;
	width: 80%;
}

#feedbackdiv {
	background: white;
	box-shadow: 0 0 7px 7px #ddd;
	font-size: 20px;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	margin: 0 auto;
	width: 80%;
}

#feedbackdiv h2 {
	padding: 1rem 0 0 2rem;
}

#feedbackdiv form, #feedbackdiv p {
	margin: 0 auto;
	padding-bottom: 40px;
	width: 80%;
}

#copyright {
	color: #7c8081;
	padding: 5rem 0 5rem 0;
	text-align: center;
}

.button {
	background: #22B422;
	border-color: #22B422;
	border-radius: 5px;
	color: white;
	display: block;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

.button:hover {
	background: #4BD64B;
	border-color: #4BD64B;
	box-shadow: 0 0 2px 2px rgba(0, 250, 50, 0.3);
}

.block {
	width: 100%;
}

.block-half {
	display: inline;
	min-width: 50%;
	width: 50%;
}

.text {
	font-size: 2rem;
	padding: 1rem;
}

/*
#dealerlogin {
	background: rgba(0, 0, 127, 0.5);
	border-color: rgba(145, 80, 255, 0.7);
	border-radius: 3px;
	cursor: pointer;
	float: right;
	padding: 10px;
}

#dealerlogin:hover {
	background: rgba(145, 90, 255, 0.5);
}

#dealerlogin a {
	color: white;
	font-size: 18px;
	text-decoration: none;
}
*/

@media (min-width: 858px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 11px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}
